table td {
	
    background-color: #031a29;
	border: 5px solid rgb(110, 83, 83);
	width: 50px;
	height: 50px;
}
.cell {
	
    background-color: #031a29;
	border: 5px solid rgb(110, 83, 83);
	width: 50px;
	height: 50px;
}